<%= form_for(@chess_inventory) do |f| %>
  <% if @chess_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chess_inventory.errors.count, "error") %> prohibited this chess_inventory from being saved:</h2>

      <ul>
      <% @chess_inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:shipment_type, 1) %> 
    <%= f.label(:shipment_type_1, "Counting") %>
    <%= f.radio_button(:shipment_type, 2) %>
    <%= f.label(:shipment_type_2, "Shipment: Incoming") %>
    <%= f.radio_button(:shipment_type, 3) %>
    <%= f.label(:shipment_type_3, "Shipment: Outgoing") %>
  </div>
  <div class="field">
    <%= f.label :partnumber, "Part Number" %><br>
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :quantity, "Quantity" %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
