<h1>Listing chess_inventories</h1>

<table>
  <thead>
    <tr>
      <th>Entrytype</th>
      <th>Partnumber</th>
      <th>Lotnumber</th>
      <th>Quantity</th>
      <th>Shelfnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chess_inventories.each do |chess_inventory| %>
      <tr>
        <td><%= chess_inventory.entrytype %></td>
        <td><%= chess_inventory.partnumber %></td>
        <td><%= chess_inventory.lotnumber %></td>
        <td><%= chess_inventory.quantity %></td>
        <td><%= chess_inventory.shelfnumber %></td>
        <td><%= link_to 'Show', chess_inventory %></td>
        <td><%= link_to 'Edit', edit_chess_inventory_path(chess_inventory) %></td>
        <td><%= link_to 'Destroy', chess_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chess inventory', new_chess_inventory_path %>
