<h1>Listing Chess Parts</h1>

<%= link_to 'New Part', new_chess_inventory_path %>


<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Part number</th>
      <th>Quantity</th>
      <th>Location</th>
      <th>Date Added</th>
      <th>Time Added</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @chess_inventories.order('created_at DESC').each do |chess_inventory| %>
      <tr>
        <td><%= chess_inventory.shipment_plain_english %></td>
        <td><%= link_to chess_inventory.partnumber, chess_inventory %></td>
        <td><%= chess_inventory.quantity %></td>
        <td><%= chess_inventory.location %></td>
        <td><%= chess_inventory.created_at.strftime("%m/%d/%Y")%>
        <td><%= chess_inventory.created_at.strftime("%I:%M%p")%>
        <td></td>
        <td><%= link_to 'Delete', chess_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


