<h1>Listing Chess Parts</h1>

<%= link_to 'New Part', new_chess_inventory_path %>


<table>
  <thead>
    <tr>
      <th>Entry type</th>
      <th>Part number</th>
      <th>Quantity</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chess_inventories.each do |chess_inventory| %>
      <tr>
        <td><%= chess_inventory.shipment_plain_english %></td>
        <td><%= chess_inventory.partnumber %></td>
        <td><%= chess_inventory.quantity %></td>
        <td><%= chess_inventory.location %></td>
        <td><%= link_to 'Show', chess_inventory %></td>
        <td><%= link_to 'Edit', edit_chess_inventory_path(chess_inventory) %></td>
        <td><%= link_to 'Destroy', chess_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


